@tailwind base;
@tailwind components;
@tailwind utilities;

html{

scroll-behavior:smooth;

}

body{

font-family:Inter,sans-serif;

background:#F8FAFC;

color:#222;

overflow-x:hidden;

}

h1,h2,h3,h4,h5,h6{

font-family:Poppins,sans-serif;

}

.gradient{

background:linear-gradient(
135deg,
#0B2447,
#19376D,
#2D74DA);

}

.glass{

background:rgba(255,255,255,.12);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.2);

}

.section{

padding:120px 0;

}

.container-custom{

max-width:1280px;

margin:auto;

padding-left:24px;

padding-right:24px;

}

.text-gradient{

background:linear-gradient(
90deg,
#0B2447,
#2D74DA);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.shadow-soft{

box-shadow:

0 10px 30px rgba(0,0,0,.08);

}
